@using FitNotes.Blazor.Pages.TableTemplate

@if (TrainingLogBackup is null)
{
    <span>Loading overview...</span>
}
else
{
    <TrainingLogTableTemplate TableItems="@_datesToTrainingLogs" Context="TrainingLogGrouping">
        <TableHeadTableRow>
            <tr>
                <th>Date</th>
                <th>Exercise</th>
                <th>Weight</th>
                <th>Reps</th>
                <th></th>
            </tr>
        </TableHeadTableRow>
        <TableBodyHeaderTableRow>
            <tr>
                <SessionDetailNavLink Colspan="5" SessionDate="@TrainingLogGrouping.Date"></SessionDetailNavLink>
            </tr>
        </TableBodyHeaderTableRow>
    </TrainingLogTableTemplate>
}


@code {

    [CascadingParameter]
    public TrainingLogBackup? TrainingLogBackup { get; set; }
    private List<TrainingLogForDayKeyValuePair> _datesToTrainingLogs = new();
    protected override void OnParametersSet()
    {
        var logGroupings = TrainingLogBackup.TrainingLogs
        .GroupBy(tl => tl.Date)
        .OrderByDescending(tlGrouping => tlGrouping.Key)
        .Take(50);

        foreach (var logGrouping in logGroupings)
        {
            _datesToTrainingLogs.Add(new TrainingLogForDayKeyValuePair(DateOnly.FromDateTime(logGrouping.Key),
            logGrouping.ToList()));
        }

        base.OnParametersSet();
    }
}