@page "/detail/{sessionDate:datetime?}"
@using FitNotes.Blazor.Pages.TableTemplate
@inject TrainingLogBackupService TrainingLogBackupService

<h2>Session detail</h2>

<InputDate Type="@InputDateType.Date" @bind-Value="SessionDate" @bind-Value:after="DateSelectionChanged"></InputDate>

@if (TrainingSession is not null)
{
    <div class="card">
        <div class="card-header">
            Session @TrainingSession.Date with total volume @TrainingSession.GetTotalSessionVolume kg
        </div>
        <table class="table">
            <thead>
                <td></td>
                <td>Exercise</td>
                <td>Weight</td>
                <td>Reps</td>
            </thead>
            <tbody>
                @foreach (var log in TrainingSession.TrainingLogs)
                {
                    <TrainingLogTableEntry TrainingLog="log" IncludeHistory="false" />
                }
            </tbody>
        </table>
    </div>
}
else
{
    <div>No session found for the selected date</div>
}

@code {

    [Parameter]
    public DateTime? SessionDate { get; set; } = DateTime.UtcNow;
    [Parameter]
    public TrainingLogSession? TrainingSession { get; set; }

    protected override void OnInitialized()
    {
        SetSessionIfThereIsOneForDate();
        base.OnInitialized();
    }

    private void SetSessionIfThereIsOneForDate()
    {
        if (SessionDate is not null)
        {
            if (TrainingLogBackupService.TryGetTrainingLogSession(DateOnly.FromDateTime(SessionDate.Value), out var session))
            {
                TrainingSession = session;
            }
            else
            {
                TrainingSession = null;
            }
        }
    }

    private void DateSelectionChanged()
    {
        SetSessionIfThereIsOneForDate();
        StateHasChanged();
    }
}