@page "/sessions"

<h1>Sessions</h1>

@if (TrainingLogBackup is null)
{
    <span>Loading overview...</span>
}
else
{
    <TrainingLogTableTemplate TableItems="@_trainingSessionsToDisplay" Context="TrainingSession">
        <TableHeadTableRow>
            <tr>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
            </tr>
        </TableHeadTableRow>
        <TableBodyHeaderTableRow>
            <tr>
                <td>
                    @TrainingSession.Date
                </td>
                <td colspan="4">
                    Total volume: @TrainingSession.GetTotalSessionVolume kg
                </td>
            </tr>
        </TableBodyHeaderTableRow>
    </TrainingLogTableTemplate>
}


@code {
    [CascadingParameter]
    public TrainingLogBackup? TrainingLogBackup { get; set; }
    private List<TrainingLogSession> _trainingSessionsToDisplay;

    protected override void OnParametersSet()
    {
        if (TrainingLogBackup is not null)
        {
            _trainingSessionsToDisplay = TrainingLogBackup.TrainingSessions
            .OrderByDescending(ts => ts.Date)
            .Take(50)
            .ToList();
        }
        base.OnParametersSet();
    }
}