<tr>
    <td></td>
    <td>@TrainingLog.Exercise</td>
    <td>@TrainingLog.MetricWeight</td>
    <td>@TrainingLog.Reps</td>
    <td>
        <a href="exercise/@TrainingLog.Exercise">See history</a>
    </td>
</tr>


@code {
    [Parameter]
    public TrainingLog TrainingLog { get; set; }
}