<tr>
    <td></td>
    <td>@TrainingLog.Exercise</td>
    <td>@TrainingLog.MetricWeight</td>
    <td>@TrainingLog.Reps</td>
    @if (IncludeHistory)
    {
        <td>
            <NavLink href=@($"exercise/{TrainingLog.Exercise}")>See history</NavLink>
        </td>
    }
</tr>


@code {
    [Parameter]
    public TrainingLog TrainingLog { get; set; }
    [Parameter]
    public bool IncludeHistory { get; set; } = true;
}